# Q1. Create one variable containing following type of data:
(i)	string
(ii)	list
(iii)	float
(iv)	tuple

In [1]:
str = "tarun"
l = [2,3,4,5,6, "kunal", 3+7j, True, 34.56]
fl = 1.287
tup = (2,3,42)

# Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘
(ii)	var2 = ‘[ DS , ML , Python]’
(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv)	var4 = 1.
What will be the data type of the above given variable\
Ans =
1)string
2)string
3)list
4)float

In [7]:
var1 = ' '
type(var1)

str

In [8]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [9]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [10]:
var4 = 1.
type(var4)

float

# Q3. Explain the use of the following operators using an example:
(i)	/
(ii)	% 
(iii)	//
(iv)	**

In [11]:
#The division operator performs division between two operands and returns the quotient as a float. Example:
div = 1/2
div

0.5

In [14]:
#The modulo operator returns the remainder of the division between two operands. Example:
mod = 5%3
mod

2

In [15]:
#The floor division operator performs division between two operands and returns the quotient as an integer, rounded down to the nearest whole number. Example:
floor = 1//2
floor

0

In [16]:
#The exponentiation operator raises the first operand to the power of the second operand. Example:
expo = 3**2
expo

9

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [17]:
l = [1, 2, "tarun", 3.0, True, "pwskills", [23.45, 4], 5, 11.0, False]
for i in l:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
tarun <class 'str'>
3.0 <class 'float'>
True <class 'bool'>
pwskills <class 'str'>
[23.45, 4] <class 'list'>
5 <class 'int'>
11.0 <class 'float'>
False <class 'bool'>

# Q5  Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [20]:
A = 36  # The number A
B = 6   # The number B

divisions = 0  # Variable to store the number of divisions

while A % B == 0:
    A = A / B  # Divide A by B using integer division
    divisions += 1  # Increment the divisions counter

print("Number of divisions:", divisions)

Number of divisions: 2

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [22]:
my_list = list(range(1,26))
print(my_list)
for i in my_list:
    if i % 3 == 0:
        print(i, "is divisible by 3")
    else:
        print(i, "is not divisible by 3")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable: Mutable data types are those whose values can be changed after they are created. Examples include lists, dictionaries, and sets. When you modify a mutable object, it retains the same identity (memory address), but its internal state can be altered.

In [23]:
l = [1, 2, 3]
l
l[1] = 300
l

[1, 300, 3]

Immutable: Immutable data types, on the other hand, cannot be changed once they are created. Examples include strings, tuples, and numbers (integers, floats). When you perform an operation that seems to modify an immutable object, a new object is created with the updated value, while the original object remains unchanged.

In [ ]:
k = "kunal"
k
k[1] = 'a'